.menu{
    display: flex;
    flex-direction: row;
    padding: 2rem;
    column-gap: 3rem;
    justify-content: center;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 2rem;
  }
  
  .icon-text{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    width: 50%;
    color: #002E69;
    background-color: white;
    border: 2px solid #002E69;
    align-items: center;
    text-decoration:none;
  }
  
  .icon-text:hover{
    background-color: #002E69;
    color: white;
  }
