.accordion-body {
    background-color: white;
}

.accordion-button {
    padding: 0.5em 1em;
}

.accordion-flush {
    padding: 1%;
    width: 100%;
    max-width: 35rem;
    /* min-width: 20rem; */
    flex: auto;
}
