.login-container {
    box-shadow: none;
    height: 4.5rem;
    padding-right: 0px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    --bs-bg-opacity: 1;
    background-color: white !important;
    border-right: 2px solid #002E69;
    border-left: 2px solid #002E69;
    border-bottom: 2px solid #002E69;
    border-top: 2px solid #002E69;
    flex-direction: column;

    height: max-content;
    min-width: max-content;
    margin: 1rem;
    padding: 2rem;
}

@media (min-width: 1000px) {
    .login-container {
        width: 35rem;
    }
}

.login-container-wrapper {
    width: 100%;
    height: max-content;
    display: flex;

    justify-content: center;
    align-items: center;
}

#success_message {
    display: none;
  }
  