.login-container {
    box-shadow: none;
    height: 4.5rem;
    padding-right: 0px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    --bs-bg-opacity: 1;
    background-color: white !important;
    border-right: 2px solid #002E69;
    border-left: 2px solid #002E69;
    border-bottom: 2px solid #002E69;
    border-top: 2px solid #002E69;
    flex-direction: column;

    height: max-content;
    min-width: max-content;
    margin: 1rem;
    padding: 2rem;
}

@media (min-width: 1000px) {
    .login-container {
        width: 35rem;
    }
}

.login-container-wrapper {
    width: 100%;
    height: max-content;
    display: flex;

    justify-content: center;
    align-items: center;
}

#success_message {
    display: none;
  }

  * {box-sizing: border-box}

  /* Add padding to containers */
  .container_form {
    box-shadow: none;
    height: 4.5rem;
    padding-right: 0px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    --bs-bg-opacity: 1;
    background-color: white !important;
    border-right: 2px solid #002E69;
    border-left: 2px solid #002E69;
    border-bottom: 2px solid #002E69;
    border-top: 2px solid #002E69;
    flex-direction: column;

    height: max-content;
    min-width: max-content;
    margin: 1rem;
    padding: 2rem;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for the submit/register button */
  .registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .registerbtn:hover {
    opacity:1;
  }
  
  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }
  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }