.navbar {
    box-shadow: none;
    height: 100px;
    padding-right: 0px;
  }

 
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 1rem;
    margin-bottom: 0;
    list-style: none;
  }

  .nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: white;
    text-decoration:solid;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  }

.navbar_search{
    margin-right: 0px;
    padding-right: 0px;
    height: 50px;
    bottom: 14px;
    background-color: none;
  }

.nav-pills{
    color: white;
    background-color:transparent;
}

.nav-fill > .nav-link,
.nav-fill .nav-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center;
}

.nav-link:hover{
    color: rgb(0, 132, 255);
}

.nav-link:focus
{
    color: rgb(0, 132, 255);
}
.search_button{
      color: grey;
  }


.search_form{
    padding: 0 0 0 40px;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 5px;
    padding-left: 0px;
    color: black;
  }

.language_picker{
    padding: 0 0 0 40px;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 5px;
    padding-left: 0px;
    margin-right: 100px;
    color: black;
  }
  
.navbar-brand {
    margin-left: 0;
    background-color: none;
  }
  
.navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }

  .navbar-nav .dropdown-menu {
    position: static;
  }
  
  .navbar-text {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  .navbar-collapse {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 0.5rem;
    line-height: 0.5;
    background-color: transparent;
    border: 1px red;
    border-radius: 0.25rem;
    -webkit-transition: -webkit-box-shadow 0.15s ease-in-out;
    transition: -webkit-box-shadow 0.15s ease-in-out;
    transition: box-shadow 0.15s ease-in-out;
    transition: box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  }
  
.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: 0rem 0;
    margin: 0;
    font-size: 0.2rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip:content-box;
    border: 0.5px solid rgba(0, 0, 0, 0.15);
    border-radius: 0rem;
  }

  .dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    font-size: medium;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: white;
    border: 0;
  }

.dropdown-item:hover, .dropdown-item:focus {
    color: #1e2125;
    background-color: rgba(0, 183, 255, 0.116);
  }
  
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #0d6efd;
  }

  .dropdown-divider {
    height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
  }

  .nav-item{
      background-color: transparent;
  }

  .dropdown-toggle {
    white-space: nowrap;
  }
  
  .dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
  }
  
  .dropdown-toggle:empty::after {
    margin-left: 0;
  }
  