.mail-wrap{
    display:flex; 
    flex-direction:column; 
    margin-bottom: 1rem;
    align-items: left;
    row-gap: 1rem;
}

.map-wrap{
    display:flex; 
    flex-direction:row; 
    justify-content:flex-start; 
    column-gap: 4rem;
    margin-bottom: 1rem;
}