.tab-wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 35rem;
    min-width: 15rem;
}

#tabHeaders {
    justify-content: center;
    border-bottom: 2px solid #dee2e6;
}

.tab-wrapper .nav {
    row-gap: .5rem;
    column-gap: .15rem;
}

.tab-title {
    color: rgb(104, 104, 104);
    border: 0px !important;
    font-weight: bolder;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
}

.tab-title.nav-link:hover, .tab-title.nav-link.active {
    color: black;
    margin-bottom: -3px;
    border-bottom: 2px solid #0055c3 !important;
}

.tab-pane {
    padding-top: 1rem;
}
