.tab-wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 35rem;
    min-width: 15rem;
}

#tabHeaders {
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.336);
}

.tab-wrapper .nav {
    row-gap: .5rem;
    column-gap: .15rem;
}

.tab-title {
    color: rgb(104, 104, 104);
    border: 0px !important;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
    background-color:gray(128, 128, 128, 0.219);
}

.tab-title.nav-link:hover, .tab-title.nav-link.active {
    color: black;
    border-radius: 0%;
    border-top: 5px solid #77B6EA !important;
    background-color:  rgba(255, 255, 255, 0.37);
}

.tab-pane {
    padding-top: 1rem;
}
