
  .mainbox {
    background-color: white;
    margin: auto;
    min-height: 70vh;
    width: 600px;
    position: relative;
  }
  
    .err {
      color: #95c2de;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 11rem;
      position:absolute;
      left: 20%;
      top: 8%;
    }
  
  .far {
    font-size: 8.5rem; 
    color: #95c2de;
  }
  
  .spin-container{
    position: absolute;
    transform: translate(250px, 120px);

  }
  
   .err2 {
      color: #95c2de;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 11rem;
      position:absolute;
      left: 68%;
      top: 8%;
    }
  
  .msg {
      text-align: center;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 1.6rem;
      left: 16%;
      top: 65%;
      width: 100%;
      font-size:large;
      position:absolute;
    }
  
  a {
    text-decoration: none;
    color: 95c2de;
  }
  
  a:hover {
    text-decoration: underline;
  }