:root {
    font-size: 18px;
}

* {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    align-items: center;
}

.page-content-container {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    margin-top: 1rem;
    align-items: flex-start;
    justify-content: center;
    width: 80%;
    min-height: 52vh;
}

.gray-box {
    flex-direction: column;
    box-shadow: none;
    height: 4rem;
    padding-right: 0px;
    display: flex;
    width:100%;
    justify-content: left;
    --bs-bg-opacity: 1;
    background-color: rgba(128, 128, 128, 0.301);
    border-bottom: 2px solid #002E69;
    border-top: 2px solid #002E69;
    font-weight: 600;
    font-size: large;
  }