.form-control {
    padding: 0em 0.5em;
    width: 12em;
    font-size: inherit;
}

.form-label {
    margin: 0%;
    font-weight: 600;
}

.form-select {
    padding: 0em 0.25em;
    font-size: inherit;
    width: 9em;
}

/* .form-check-input {
    padding: 0%;
} */

.input-description {
    font-weight: bold;
}

.input-group-text {
    padding: 0em 0.5em
}

.invalid-feedback {
    overflow-wrap: normal;
    font-size: .7em;
}

.form-fields-container {
    padding: 0.5rem;
    width: auto;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, auto);
    column-gap: 1em;
    row-gap: 0.5em;
}

@media only screen and (max-width: 700px) {
    .form-fields-container {
        padding: 1rem;
        width: auto;
        display: flex;
        flex-direction: column;
    }
}

.field-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 0em;
    max-width: fit-content;
}

.date-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: .25em;
    max-width: fit-content;
    flex-wrap: wrap;
}

.date-field-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 0em;
}

.date-field-container .form-control {
    max-width: 100%;
}

.form-submit-button {
    width: max-content;
}

.form-fields-group-vertical, .form-fields-group-horizontal {
    display: flex;
    flex-wrap: wrap;
}

.form-fields-group-vertical {
    flex-direction: column;
    row-gap: .5rem;
    margin-top: 1rem;
}

.form-fields-group-horizontal {
    flex-direction: row;
    column-gap: 3rem;
    /* justify-content: center; */
}
