
  
  .mainbox {
    background-color: white;
    margin: auto;
    height: 100%;
    width: 100%;
    position: relative;
    
  }
  
    .err {
      color: #568daf;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 11rem;
      position:absolute;
      left: 35%;
      bottom: 65%;
    }

  .rounded-circle{
    
    border-radius: 50%;
    padding:2rem;
    color: #002E69;
    font-weight: 600;
    top: 50%;
  }

  @keyframes mymove {
    from {background-color: white;}
    to {background-color: rgb(0, 132, 255);}
  }
  
  .far {
    position: absolute;
    font-size: 8.5rem;
    left: 42%;
    bottom: 75%;
    color: #ffffff;
  }
  
   .err2 {
      color: #568daf;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 8rem;
      position:absolute;
      left: 50%;
      bottom: 65%;
    }
  
  .msg {
      text-align: center;
      font-family: 'Avantgarde', sans-serif;
      font-size: 1.6rem;
      position:absolute;
      left: 12%;
      top: 40%;
      width: 75%;
      color: #002E69;
    }
