// Overrides

$primary: #002E69;
$secondary: #77B6EA;
$success: #52bd46;

// Accordion
/* $accordion-padding-y:                    1rem;
$accordion-padding-x:                     1rem; */
$accordion-color: #000000;
$accordion-bg: #cacaca;
$accordion-border-width: 1px;
$accordion-border-color: #000000;
// $accordion-inner-border-radius:           subtract($accordion-border-radius, $accordion-border-width);

/* $accordion-body-padding-y:                $accordion-padding-y;
$accordion-body-padding-x:                $accordion-padding-x;

$accordion-button-padding-y:              $accordion-padding-y;
$accordion-button-padding-x:              $accordion-padding-x; */
$accordion-button-color: $accordion-color;
$accordion-button-bg: $accordion-bg;
// $accordion-transition:                    $btn-transition, border-radius .15s ease;
$accordion-button-active-bg: #cacaca;
$accordion-button-active-color: #000000;

// Profile Info Form

$input-group-addon-padding-y: 0px;
$input-group-addon-padding-x: 0px;
// $input-group-addon-font-weight:         medium;
$input-group-addon-color: black;
$input-group-addon-bg: rgb(196, 196, 196);
$input-group-addon-border-color: rgb(0, 0, 0);

$form-feedback-margin-top: 0em;
// $form-feedback-font-size:           $form-text-font-size;
// $form-feedback-font-style:          $form-text-font-style;
$form-feedback-valid-color: rgb(1, 114, 1);
$form-feedback-invalid-color: rgb(225, 4, 4);

$form-feedback-icon-valid-color: rgb(1, 114, 1);
$form-feedback-icon-valid: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'><path fill='#{$form-feedback-icon-valid-color}' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/></svg>");
$form-feedback-icon-invalid-color: rgb(225, 0, 0);
$form-feedback-icon-invalid: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='#{$form-feedback-icon-invalid-color}'><circle cx='6' cy='6' r='4.5'/><path stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/><circle cx='6' cy='8.2' r='.6' fill='#{$form-feedback-icon-invalid-color}' stroke='none'/></svg>");

@import "../node_modules/bootstrap/scss/bootstrap";